body {
    background-color: rgb(150, 130, 130);
}
h1   {
    text-align: center;
    font-family: "Garamond";
    font-weight: bold;
}
h3   {
    border-style: groove;
    border-color:thistle;
}
img  {
    float: right;
    border-style: inset;
    border-color:thistle;
    width: 400px;
    height: 400px;
}
p    {
    font-family:"Verdana";
}